html {
    scroll-behavior: smooth;
  }
.header {
    background: white;
  }

  .content {
    z-index: 10000;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  .sticky + .content {
    padding-top: 20%;
  }
select {
    color: #000;
    width: 10%;
    padding-left: 10px;
}

.header_btn {
    background-color: #004288;
    color: black;
}

.edit_btn {
    background-color:#004288;
    color: black;

    margin: 5px;
}

.delete_btn {
    background-color: white;
    color: #004288; 

    margin: 5px;
}

.action_btn {
    background-color:#004288;
}

button, select {
    color: rgb(0, 0, 0);

    padding: 0 30px;
    height: 55px;

    border-radius: 15px;
    border: none;
	font-size: 18px;
}

.close_btn {
    background-color: white;
}
footer {
    color: white;
}
.modal__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    z-index: 200;
    justify-content: center;
}

.modal__window {
    max-width: 500px;
    background: #ffffff;
    border: 1px solid #ffffff;
    font-size: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.modal__titlebar {
    height: 40px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__title {
    margin-left: 25%;
    font-weight: bold;
    color:#004288;
}

.modal__close {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: transparent;
    color: #004288;
    cursor: pointer;
}

.modal__close:active {
    transform: scale(0.9);
}

.modal__content {
    padding: 15px;
    font-size: 0.9em;
}

body {
    margin: 0;
    background-color:white;}


h1, th {
    color: black;
    text-align: center;
    font-size: x-large;
}

.records_cont {
    text-align: center;
    padding: 2%;
}

.table {
    text-align: center;
    color: black;
    padding-top: 102px;
    padding: 7%;
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}
img.resize {
    width:2%; 
    height: auto;
}

.table th, td {
    padding: 20px;
    
}

.table th {
    position: sticky;
    top: 18%;
    z-index: 100;
    background-color:#004288;
    color:white;
}

h2  {
    color: black;
    font-size: x-large;
}
.form_cont {
    padding: 7%;
    margin: 0 auto;
    width: 80%;
}

form {
    text-align: left;
    color:black;
    padding: 7%;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form label {
    margin: 15px 0;
}

form input {

    height: 45px;
    background-color: #004288;
    border: none;
    color: white;
}

form button { 
    margin: 10px 0;
}



